.login-tab {
  /* background: linear-gradient(to right, #a7bfe8, #6190e8); */
  /* background: linear-gradient(
    to right,
    #1c92d2,
    #f2fcfe
  );  */
  background: linear-gradient(
    to right,
    rgb(0, 82, 212),
    rgb(67, 100, 247),
    rgb(111, 177, 252)
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-card {
  display: flex;
  flex-direction: row;
  height: 50%;
  width: 50%;
}
.login-1 {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px 0px 0px 10px;
  width: 60%;
  align-items: center;
  height: 100%;
}
.login-2 {
  background-color: white;
  border-radius: 0px 10px 10px 0px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-title {
  font-family: Poppins;
  font-size: x-large;
  text-align: center;
  font-weight: 500;
}
.input-title {
  font-family: Poppins;
  color: grey;
}

.input-item {
  width: 75%;
  height: 25%;
  display: flex;
  flex-direction: column;
}
.input-field {
  height: 100%;
  width: 75%;
  border-radius: 5px;
  border: 1px solid #000;
  box-shadow: 3px 3px 0px 0px #000;
}
.login-button {
  height: 25%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-btn {
  height: 30%;
  width: 30%;
  font-family: Poppins;
  background: linear-gradient(
    to right,
    rgb(0, 82, 212),
    rgb(67, 100, 247),
    rgb(111, 177, 252)
  );
  border-style: none;
  color: white;
  border-radius: 10px;
}
.vl {
  border-left: 2px solid lightgray;
}
.login-testimonial {
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: Caveat;
  font-size: large;
}
.login-testimonial-user {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Poppins;
  font-size: medium;
  gap: 2px;
}

.user-img {
  height: 25%;
  width: 15%;
  border-radius: 50%;
}
.user-designation {
  color: lightgray;
  font-size: small;
}
.user-name {
  font-weight: 500;
}
